html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  background: -webkit-linear-gradient(to top, #b2fefa, #0ed2f7);
  background: linear-gradient(to top, #b2fefa, #0ed2f7);
}

.info-section {
  display: flex;
}

.blink-effect {
  animation: blink 0.8s ease-in-out;
  background-color: #dfc3c3;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.08);
  }

  50% {
    transform: scale(0.96);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
