.summary-table {
  &__wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__title {
    margin: 2rem auto;
    font-family: Roboto, sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: #262882;
  }

  &__row-wrapper {
    width: 90%;
    background-color: #5af30c;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-family: Roboto, sans-serif;
    padding: 1rem 2rem;
    border: 1px solid gray;

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  &__category-name {
    font-weight: 500;
  }
}
