.note {
  width: 100%;
  margin: 0 auto 0.6rem;
  height: auto;
  min-height: 8rem;
  display: grid;
  grid-template-columns: 12% 58% 15% 15%;
  grid-template-areas: "tm ct cg dt";
  font-family: Roboto, sans-serif;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to top, rgb(178, 254, 250), rgb(14, 210, 247));;

  &:hover {
    background: linear-gradient(180deg, #b2fefa, #0ed2f7);
  }

  &--selected {
    background: linear-gradient(120deg, #4b9f9a, #0db1d0);

    &:hover {
      background: linear-gradient(120deg, #4b9f9a, #0db1d0);
    }
  }

  &:last-child {
    margin-bottom: 4rem;
  }

  &__creation-time {
    grid-area: tm;
    display: grid;
    place-items: center;
    border: 1px solid gray;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 500;
    border-radius: 5px 0 0 5px;
  }

  &__content {
    grid-area: ct;
    border: 1px solid gray;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 2rem;
    overflow-wrap: anywhere;
    position: relative;
  }

  &__category {
    grid-area: cg;
    border: 1px solid gray;
    width: 100%;
    font-size: 2.2rem;
    display: grid;
    place-items: center;
    position: relative;
  }

  &__dates-in-note {
    grid-area: dt;
    border: 1px solid gray;
    width: 100%;
    font-size: 1.8rem;
    display: grid;
    place-items: center;
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding: 1rem;
    line-height: 2.4rem;
    word-wrap: break-word;
  }

  &__controls-wrapper {
    width: 15rem;
    height: 100%;
    right: 2rem;
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: -5;
    transform: scale(0);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
  }
}

.note:hover .note__controls-wrapper {
  transform: scale(1);
  opacity: 1;
  z-index: 5;
}

.icon-note {
  font-size: 3.3rem;
  margin-bottom: 1rem;
  color: blue;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }

  &--edit {
    color: green;
  }

  &--archive {
    color: orange;
  }

  &--delete {
    color: red;
  }

  &--confirm{
    color: green;
  }

  &--reject{
    color: red;
  }
}

.note-edit {
  &__input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    resize: none;
    font-size: 2rem;
    padding: 1rem;
    outline: none;
    border: none;
    background: linear-gradient(to top, #b2fefa, #0ed2f7);
  }

  &__select {
    position: absolute;
    width: 90%;
    height: 4rem;
    font-size: 2.2rem;
    padding-left: 0.5rem;
    outline: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

    &:hover{
      transform: scale(1.08);
    }
  }
}

.btn-confirm__wrapper{
  width: 11rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-on-edit{
  font-size: 5rem;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

